---
title: Their Royal Highnesses, the Heirs of Drachenwald
gallery:
  - image_path: 
    title: 
  - image_path: 
    title: 
---
<p align="center">
    <a href="{{ site.baseurl }}{% link royals/index.html %}" class="btn btn--primary">King & Queen</a>
    <a href="#" class="btn btn--inverse">The Heirs</a>
    <a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
	<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<h2 style="text-align: center;"><a name="heirs"></a>Their Royal Highnesses<br/>The Heirs of Drachenwald</h2>

<div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
<img src="{% link images/royals/Avery-Cornelia.jpg %}" width="350">
   
</div>


<table>
<tr>
<td align="center"><b>Avery Westfall</b> (he / him)
  <div style="text-align: center;"><a href="mailto:crownprince@drachenwald.sca.org">heir.sovereign@drachenwald.sca.org</a></div>
</td>
<td align="center"><b>Cornelia Von Distelfeld</b> (she/any)
  <div style="text-align: center;"><a href="mailto:crownprincess@drachenwald.sca.org">heir.consort@drachenwald.sca.org</a></div>
</tr>
<tr>
	<td colspan=2>Their highnesses chamberlain: <a href="mailto:chamberlain@drachenwald.sca.org">Catriona of the Ravens: chamberlain@drachenwald.sca.org</a></td>
</tr>
<tr>
  <td><b>About the prince </b><br>A knight who travelled many lands and met many people before settling back in his home of England, now in Thamesreach
  
  </td>
  
  <td valign="top"><b>About the princess</b><br>Late of Glen Rathlin, Ad Flumen Caerulum and Vielburgen, she currently resides in Knight's Crossing and participates in fencing, archery and equestrian as well as various artistic endeavours.

     </td>
</tr>

<tr>
  <td><b>His Highness is interested in:</b><br>Crafts, combat, the consumption of food, drink and song

  </td>
  
  <td><b>Her Highness is interested in:</b><br>	Music, learning new skills, and good documentation.

  </td>
</tr>

<tr>
  <td><b>His Highness likes:</b><br>Courtesy, learning, friendship, inclusiveness

  </td>
  
  <td><b>Her Highness likes:</b><br>Enthusiam & inclusiveness, long evenings

  </td>
</tr>

<tr>
  <td><b>His Highness dislikes:</b><br>People getting hurt

  </td>
  
  <td><b>Her Highness dislikes:</b><br>Excessive competitiveness, early mornings

  </td>
</tr>

<tr>
  <td><b>Please feed His Highness:</b><br>Cheese, fruit

  </td>
  
  <td><b>Please feed Her Highness:</b><br>Cheese, berries, beans, whole grains, extra dark chocolate

  </td>
</tr>

<tr>
  <td><b>Please do not feed His Highness:</b><br>Shellfish, brussels sprouts

  </td>
  
  <td><b>Please do not feed Her Highness:</b><br>Meat & fish, rose water, fennel & aniseed, sugary things

  </td>
</tr>

<tr>
  <td><b>His Highness has the following food restrictions:</b><br>none

  </td>
  <td><b>Her Highness has the following food restrictions:</b><br>Vegetarian
 
  </td>
</tr>

<tr>
  <td><b>His Highness would like events to feature:</b><br>Clear directions for newcomers

  </td>
  
  <td><b>Her Highness would like events to feature:</b><br>Performing arts, equestrian activities, lazy afternoons on picnic blankets

   </td>
</tr>

</table>