---
title: Their Royal Majesties, King and Queen of Drachenwald
---
<p align="center">
<a href="#" class="btn btn--inverse">King & Queen</a>
<a href="{{ site.baseurl }}{% link royals/heirs.html %}" class="btn btn--primary">The Heirs</a>
<a href="{{ site.baseurl }}{% link royals/territorial-royals.md %}" class="btn btn--primary">Landed Nobility</a>
<a href="{{ site.baseurl }}{% link royals/drachenwald-succession.md %}" class="btn btn--primary">Drachenwald Succession</a>
</p>

<a name="royals"></a><div style="margin-left:auto;margin-right:auto;max-width:600px;text-align: center">
<img src="{% link images/royals/MoralesEila2.jpg %}" width="350">
</div>

<table>
<tr>
<td align="center">
	<b>Morales Galen</b> (He/Him or They/Them)
	<div style="text-align: center;"><a href="mailto:king@drachenwald.sca.org">king@drachenwald.sca.org</a> </div>
</td>
<td align="center"> <b>Eila de Valois</b> (She/Her or They/Them)
	<div style="text-align: center;"><a href="mailto:queen@drachenwald.sca.org">queen@drachenwald.sca.org</a></div>
</tr>

<tr>
	<td colspan=2>Their majesties chamberlain: <a href="mailto:annelie.ohman@hotmail.com">Louise Le Roux: annelie.ohman@hotmail.com</a></td>
</tr>

<tr>
  <td><b>About the king </b><br>
The king can be seen wearing either rus viking, 16th century or 15th century garb. He is usually up late at events and can most days be found around the heavy fighting field (although he enjoys all aspects of events). He also likes entertaining a crowd and putting on a show.  
  </td>
  
  <td valign="top"><b>About the queen</b><br>
Her Majesty enjoys travels far and wide, to distant shores and bygone times, preferably on horseback. She has a fondness for all things created by ones hand and is known to wield not only needles and sharp wits, but a sword or two or a spear in battle.   
     </td>
</tr>

<tr>
  <td><b>His Majesty is interested in:</b><br>Heavy Fighting, singing, brewing, heraldic displays and Armor

  </td>
  
  <td><b>Her Majesty is interested in:</b><br>Equestrian Arts, Heavy fighting, archery, singing and sewing, to name a few.

  </td>
</tr>

<tr>
  <td><b>His Majesty likes:</b><br>Heavy fighting, Feast, Fire, Performance arts, Seeing people happy. 

  </td>
  
  <td><b>Her Majesty likes:</b><br>Red wine, banquets, singing and dancing. Inclusive and respectful manners. And cool swords. Olives!

  </td>
</tr>

<tr>
  <td><b>His Majesty dislikes:</b><br>Modern mundane visable items at events

  </td>
  
  <td><b>Her Majesty dislikes:</b><br>Visable modern/mundane items at events, 

  </td>
</tr>

<tr>
  <td><b>Please feed His Majesty:</b><br>
Mead, Whiskey, Beer, Chocolate (without mint or orange flavoruring) and Honey cabbage.
  </td>
  
  <td><b>Please feed Her Majesty:</b><br>

  </td>
</tr>

<tr>
  <td><b>Please do not feed His Majesty:</b><br>Coriander

  </td>
  
  <td><b>Please do not feed Her Majesty:</b><br>Animal parts or overly sugary and sweet things

  </td>
</tr>

<tr>
  <td><b>His Majesty has the following food restrictions:</b><br>None

  </td>
  <td><b>Her Majesty has the following food restrictions:</b><br>Vegetarian and Milk protein free
 
  </td>
</tr>

<tr>
  <td><b>His Majesty would like events to feature:</b><br>
	Time for socialiing and parties, fighting if possible, Good food and drinks.
  </td>
  
  <td><b>Her Majesty would like events to feature:</b><br>

   </td>
</tr>

</table>

